@import './confetti';
@import './slider';
@import './loader';

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	        animation: flip-scale-up-hor 0.5s linear both;
}

.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

$main-color: #ff8700;
$primary-gray: #d8d8d8;
$text-color: #8c8c8c;

body {
  width: 100vw;
  height: 200vh;
  position: relative;
  color: #414141;
}

* {
  font-family: "Lato";
  box-sizing: border-box;
}

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  min-width: 100%;
  height: 100%;
  min-height: 1000px;
  z-index: 200;

}

button:focus {
  border: none;
  outline: none;
}
button:active {
  border: none;
  outline: none;
}

.comparison > * {
  line-height: 1;
}

.comparison > * > h2, .comparison > .header > * > h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 900;
  
  @media (min-width: 400px) {
    font-size: 20px;
  }
  @media (min-width: 500px) {
    font-size: 30px;
  }
  @media (min-width: 900px){
    font-size: 40px;
  }
  
}

.comparison > * > h3 {
  margin: 0;
  font-size: 14px;
  @media (min-width: 400px) {
    font-size: 16px;
  }
  @media (min-width: 500px) {
    font-size: 20px;
  }
  @media (min-width: 900px){
    font-size: 24px;
  }
}
.comparison > * > h4 {
  margin: 0;
  font-size: 11px;
  @media (min-width: 400px) {
    font-size: 13px;
  }
  @media (min-width: 500px) {
    font-size: 15px;
  }
  @media (min-width: 900px){
    font-size: 17px;
  }
}

.comparison > * > p, .footer-modal > * > p {
  margin: 0;
  font-size: 10px;
  @media (min-width: 400px) {
    font-size: 10px;
  }
  @media (min-width: 500px) {
    font-size: 12px;
  }
  @media (min-width: 900px){
    font-size: 14px;
  }
}

body> .modal {
  display: none;
}
body > .comparison {
  display: none;
}
body.active > .modal {
  display: block;
}
body.active > .comparison {
  display: block;
}

.comparison {
  position: relative;
  margin: 50px auto;
  width: 90vw;
  max-width: 1006px;
  min-height: 704px;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  color: #414141;
  z-index: 250;
  animation: slideDown 1s ease-in-out;
  &__close{
    position: absolute;
    width: 25px;
    height: 25px;
    top:15px;
    right: 15px;
    color: gray;
    z-index: 260;
    cursor: pointer;
    @media (min-width: 450px) {
      top:23px;
      right: 28px;
    }
    &--line1 {
      display: block;
      width: 25px;
      height: 2px;
      background-color: #bebebe;
      transform: rotate(45deg) translate(1.5px, 1.5px);
    }
    &--line2 {
      display: block;
      width: 25px;
      height: 2px;
      background-color: #bebebe;
      transform: rotate(315deg);
    }
  }
  > * {
    z-index: 255;
  }
  &__reasons {
    width: 100%;
    height: 66px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    @media (min-width: 650px) {
      flex-direction: row;
    }
  }
  &__footer-modal {
    padding: 0 0px 0 0px;
    width: 100%;
    min-height: 80px;
    background-color: #ffffff;
    @media (min-width: 500px) {
      padding: 0 50px 0 50px;
    }
  }
  &__options {
    min-height: 410px;
  }
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  > p {
    letter-spacing: 2px;
    padding-left: 44px;
  }
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__magic-wand {
    color: $main-color;
    max-height: 16px;
    max-width: 16px;
    margin-right: 16px;
    @media (min-width: 400px) {
      max-height: 20px;
      max-width: 20px;
    }
    @media (min-width: 500px) {
      max-height: 30px;
      max-width: 30px;
    }
    @media (min-width: 900px){
      max-height: 40px;
      max-width: 40px;
    }
  }
}

.reasons {
  padding: auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 24px 0 24px;
  &__par {
    max-height: 14px;
    font-size: 14px;
    flex-basis: 33%;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__span {
    font-size: 10px;
    @media (min-width: 400px) {
      font-size: 10px;
    }
    @media (min-width: 500px) {
      font-size: 12px;
    }
    @media (min-width: 900px){
      font-size: 14px;
    }
  }
  &__svg {
    width: 10px;
    height: 10px;
    color: $main-color;
    margin: 0 8px;
    @media (min-width: 500px) {
      width: 12px;
      height: 12px;
    }
    @media (min-width: 900px){
      width: 14px;
      height: 14px;
    }
  }
  &__span {
    display: block;
    height: 14px;
    line-height: 14px;
    align-self: flex-end;
  }
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  &__title {
    margin: 30px 0 16px 0 !important;
    font-weight: 400;
    text-align: center;
    z-index: 255;
    &--step {
      color: #8c8c8c;
    }
  }
  &__container {
    padding: 0 25px 0 25px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    z-index: 255;

    @media (min-width: 500px) { 
      padding: 0 70px 0 70px;
    }

    @media (min-width: 900px) {
      justify-content: space-between;
      flex-direction: row;

    }
  }
  &__slider {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__result {
    &--title-link {
      color: $main-color;
    }
  }
}

.left-column {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  @media (max-width: 650px) {
    flex-basis: 80%;
  }
  &__image {
    width: 300px;
    height: 150px;
    @media (min-width: 650px) {
      width: 350px;
      height: 200px;
    }
  }
  &__return {
    margin-top: 16px;
    text-decoration: underline;
    cursor: pointer;
    > svg {
      width: 12px;
      height: 12px;
    }
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  flex-wrap: wrap;
  padding-top: 16px;
  @media (max-width: 650px) {
    flex-basis: 90%;
  }
  > p {
    line-height: 24px;
    font-size: 14px;
    margin: 0;
  }
  > span {
    display: inline;
    font-size: 14px;
  }
  &__plus {
    padding-right: 8px;
    font-weight: 900;
    color: #A2CF69;
  }
  &__advantage {
    > a {
      color: black;
      padding-left: 10px;
    }
  }

  > .warranty__button {
    margin: 16px 0 16px 0;

  }
  > a {
    color: black;
  }
}

.card {
  position: relative;
  border: 1px solid #d5d5d5;
  -webkit-box-shadow: 0px 1px 0px 0px #d5d5d5; 
  box-shadow: 0px 1px 0px 0px #d5d5d5;
  padding: 8px;
  width: 190px;
  height: 180px;
  margin-bottom: 16px;
  max-width: 260px;
  max-height: 250px;

  @media (min-width: 750px){
    width: 220px;
    height: 210px;
}
  @media (min-width: 1000px){
    width: 260px;
    height: 250px;
    padding: 28px;
}
  
  background-image: linear-gradient(55deg, #ffffff 0%, #ffffff 100%);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  svg {
    width: 55%;
    height: 55%;
    color: #ffffff;
  }
  & > .card__wrapper > .card__desc > p {
    margin: 0;
    > svg {
    color: $main-color;
    width: 10px;
    height: 10px;
  }
}
  &--active {
    background-image: linear-gradient(55deg, #ff7f00 0%, #ff9500 100%);
    color: white;
    & > .card__wrapper > .card__desc > p {
      color: #ffffff;
      > svg {
      color: #ffffff;
      width: 12px;
      height: 12px;
    }
    }
  }
  &__icon {
    min-height: 60%;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    > svg {
      align-self: center;
    }
    @media (min-width: 1000px) {
      min-height: 70%;
      flex-basis: 30%;
    }
  }
  &__wrapper {
    min-height: 40%;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__title {
    flex-basis: 20%;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0px;
    margin: 0;
    font-weight: 700;
    @media (min-width: 500px) {
      font-size: 15px;
    }
    @media (min-width: 1000px) {
      font-size: 17px;
    }
  }
  &__desc {
    flex-basis: 50%;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #8c8c8c;
    margin-top: 8px;
    @media (min-width: 500px) {
      font-size: 11px;
    }
    @media (min-width: 1000px) {
      font-size: 13px;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.card-mini {
  position: relative;
  box-sizing: border-box;
    padding: 8px;
    margin: 8px 0;
    height: 75px;
    min-width: 200px;
    background-image: linear-gradient(55deg, #ffffff 0%, #ffffff 100%);
    color: black;
    border: 1px solid #d5d5d5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 45%;
    -webkit-box-shadow: 0px 2px 3px 0px #d5d5d5; 
    box-shadow: 0px 2px 3px 0px #d5d5d5;
    align-items: center;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    @media (min-width: 750px) {
      flex-basis: 32%;
      width: 200px;
    }
    > input {
      flex-basis: 15%;
      width: 20px;
      height: 20px;
    }
    > .card__title {
      flex-basis: 55%;
      text-align: center;
    }
    > .card__icon {
      flex-basis: 10%;
    }
    > .card__icon > svg {
      width: 24px;
      height: 24px;

      @media (min-width: 750px) {
        width: 32px;
        height: 32px;
      }
    }
    &[data-result="inne"] > .card__icon > svg {
      width: 18px;
      height: 18px;
    }
    &--active {
      background-image: linear-gradient(55deg, #ff7f00 0%, #ff9500 100%);
      color: white;
    }
}

.slider {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    @media (min-width: 500px) {
      flex-direction: row;
    }
  &__input {
    width: 75%;
    height: 18px;
    border-radius: 9px;
    background-image: linear-gradient(-90deg, #ff6c00 0%, #ffa21e 100%);
  }
  &__value {
    margin-bottom: 32px;
    
  }
}

.value {
  position: relative;
  &__input {
    box-sizing: border-box;
    text-align: right;
    font-size: 30px;
    padding-bottom: 20px;
    padding-right: 16px;
  }
  &__currency {
    font-size: 16px;
    color: $primary-gray;
    position: absolute;
    right: 16px;
    top: 65px;
    background-color: transparent;
    z-index: 260;
  }
}

.footer-modal {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  z-index: 255;
}

.stepper {
  position: relative;
  flex-basis: 100%;
  margin-bottom: 32px;
  @media (min-width: 1050px){
    flex-basis: 70%;
    margin-bottom: 0px;
  }
  &__container {
    margin: 16px 0 0 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-inline-start: 0px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 20%;
    }
  }
  &__line {
    position: absolute;
    width: 80%;
    height: 2px;
    top: 25px;
    left: 10%;
    background-color: $primary-gray;
    &--progress {
      width: 0%;
      height: 2px;
      background-color: $main-color;
    }
  }
  &__circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid $primary-gray;
    display: flex;
    justify-content: center;
    z-index: 260;
    align-items: center;
    svg {
      display: none;
      width: 12.5px;
      height: 12.5px;
    }
  }
  &__desc {
    margin: 12px 0 0 0;
    font-size: 7px;
    color: $text-color;
    @media (min-width: 450px) {
      font-size: 9px;
    }
    @media (min-width: 650px) {
      font-size: 12px;

    }
  }
}
.circle {
  align-self: center;
  &--ready {
    background-color: $main-color;
    border: 2px solid $main-color;
    cursor: pointer;
    svg {
      align-self: center;
      display: block;
      color: white;
      width: 13px;
      height: 10px;
    }
    & + .stepper__desc {
      color: $main-color;
      font-weight: 900;
    }
  }
  &--current {
    border: 2px solid $main-color;

    .circle__content {
      align-self: center;
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $main-color;
    }
  }
}

.warranty {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  color: $text-color;
  margin-bottom: 16px;
  z-index: 255;
  &__link {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    z-index: 260;
    &--span {
      text-decoration: underline;
    }
        &:after {
          content: '>';
          text-decoration: none;
          margin-left: 16px;
          z-index: 260px;
        }
  }
  > svg {
    margin-right: 8px;
    fill: $primary-gray;
    width: 16px;
    height: 16px;
  }
  @media (max-width: 1050px){
    flex-basis: 100%;
  }
  &__button {
    margin-top: 3px;
    position: relative;
    padding-top: 6px;
    width: 250px;
    height: 53px;
    background-image: linear-gradient(0deg, #ff7700 0%, #ff9500 100%);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(225,106,0,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(225,106,0,1);
    box-shadow: 0px 4px 0px 0px rgba(225,106,0,1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      width: 17px;
      height: 17px;
      padding-bottom: 2px;
      padding-left: 8px;
    }
  }
}

.comparison-checkbox {
  background-color: transparent;
+ label {
    
    position: relative;
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    &:before {
        background-color: white;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 22px;
        height: 22px;
        border-radius: 3px;
        border: 1px solid #8B8B8B;
    }
    &:after {
        content: '';
        display: block;
        width: 10px;
        height: 5px;
        border-bottom: 3px solid $main-color;
        border-left: 3px solid $main-color;
        transform: rotate(-45deg) scale(0);
        position: absolute;
        top: 11px;
        left: 11px;
        z-index: 270;
    }
  }
}


input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
  &:checked ~ label{
      &:before {
          border: 2px solid $circle-color;
      }
      &:after {
          transform: rotate(-45deg) scale(1);
      }
  }
  &:focus + label::before {
      outline: 0;
  }
}

.warranty__button{

&.b1 {
  &:before {
  content: '';
  position: absolute;
  top: -15%;
  left: -5%;
  height: 73px;
  width: 270px;
  background-color: inherit;
  border-radius: 4px;
  opacity: 0;
  background: #ff9600;
  -webkit-animation: heartbeat 3s linear infinite;
  animation: heartbeat 3s linear infinite;
}
&:hover {
  background-image: -webkit-linear-gradient(top, #ff9600 10%, #ff5400 100%);
  background-image: -o-linear-gradient(top, #ff9600 10%, #ff5400 100%);
  background-image: linear-gradient(to bottom, #ff9600 10%, #ff5400 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9600', endColorstr='#ffff5400', GradientType=0);
  }
  }
}

@keyframes heartbeat {
	0% {
		-webkit-transform: scaleX(1) scaleY(1);
		transform: scaleX(1) scaleY(1);
		opacity: 0
	}
	5% {
		-webkit-transform: scaleX(1) scaleY(1);
		transform: scaleX(1) scaleY(1);
		opacity: 0.75
	}
	25%, 100% {
		-webkit-transform: scaleX(1.2) scaleY(1.6);
		transform: scaleX(1.2) scaleY(1.6);
		opacity: 0
	}
}
